@import "../../../../styles.scss";

div {
    display: flex;
    flex-wrap: wrap;
    background-color: $lav1;
    padding: 25px 25px 25px 25px;
    border-bottom: 3px solid $darkest;
    height: 40px;

    @media screen and (max-width: 1000px) {
        height: 105px;
        justify-content: center;
    }

    @media screen and (max-width: 709px) {
        height: 175px;
    }

    @media screen and (max-width: 378px) {
        padding: 25px 0 25px 0;
    }
}

h2 {
    flex: 1 0 300px;
    margin: 0;
    padding: 5px 0 0 0;
    color: $grey1;
    font-weight: 300;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;

    @media screen and (max-width: 1000px) {
        flex: 1 0 100%;
        text-align: center;
    }
}
