@import "../../../styles.scss";

div {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 70px;
    background: $darkest;
    z-index: 2;

    color: $grey1;
    font-size: 42px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    line-height: 60px;
    padding: 10px 10px 10px 27px;

    @media screen and (max-width: 964px) {
        text-align: center;
        line-height: 60px;
        padding-left: 0px;
    }

    @media screen and (max-width: 415px) {
        position: static;
        height: 120px;
    }
}