@import "../../../../styles.scss";

div {
    height: 350px;
    width: 350px;
    margin: auto;
    border-radius: 100%;
    border: 10px solid $darkest;
    background: url("../../../../assets/cat.jpeg") no-repeat;

    @media screen and (max-width: 450px) {
        height: 175px;
        width: 175px;
    }
}