@import "../../../../styles.scss";

div.widget-container {
    display: flex;
    border: solid 3px $darkest;
    height: 250px;
    margin: 20px;
    background: $grey1;
    padding: 50px 90px 50px 110px;

    @media screen and (max-width: 1000px) {
        height: 200px;
        padding: 10px 20px 10px 20px;
    }

    @media screen and (max-width: 500px) {
        height: 150px;
    }

    &:hover {
        transform: translate(0, 1px);
        cursor: pointer;
    }
}

.text-container {
    flex: 8 1;
}

img {
    flex: 1 0 150;
    border: 1px solid $darkest;
    width: 150px;
    height: 150px;
    margin: auto;

    @media screen and (max-width: 1000px) {
        display: none;
    }
}

span {
    border-radius: 25px;
    border: 3px solid $darkest;
}

.img-divide {
    margin: 0 50px 0 110px;

    @media screen and (max-width: 1000px) {
        display: none;
    }
}

.title-divide {
    display: block;
    width: 100%;    
}

h3 {
}

h4 {
}

p {
    @media screen and (max-width: 500px) {
        display: none;
    }
}