<div>
  
  <p>
    Filter by:
  </p>
  
  <svg ng-click = "arrowClick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="12px" height="12px" viewBox="0 0 306 306" style="enable-background:new 0 0 306 306;" xml:space="preserve">
    <g>
      <g id="expand-more">
        <polygon points="270.3,58.65 153,175.95 35.7,58.65 0,94.35 153,247.35 306,94.35   " fill="#404040"/>
      </g>
    </g>
  </svg>
  
  <select>
    <option value = "link1">Ct1</option>
    <option value = "link1">ct2</option>
    <option value = "link1">ct3</option>
    <option value = "link1">ct4</option>
  </select>
</div>
